html
head
  title
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', href='main.css')
  script(src="http://fb.me/react-0.12.0.js")
  script(src="lib/d3/d3.js")
  script(src='dist/d3Guage.js')

body(ng-app='demo', ng-controller='demoCtrl')
  div(id="guage")
